<app-taxonomy-kind-manager
  [items]="categories()"
  titleKey="metadata_prep_categories"
  icon="cooking-pot"
  descKey="metadata_preparations_desc"
  placeholderKey="metadata_add_category"
  addLabelKey="metadata_add"
  emptyKey="metadata_no_prep_categories"
  [lockReason]="lockReason"
  [inlineRename]="true"
  [renameValue]="translateKey"
  (added)="onAdd($event.value, $event.input)"
  (editRequested)="requireSignIn()"
  (renamed)="onRenameBlur($event.item, $event.value)"
  (removeRequested)="onRemove($event)"
/>
