.app-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f0f0f0;
  border-top: 1px solid #ccc;
  font-size: 0.9rem;
  color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;

  .left-content,
  .right-content {
    flex: 1;
    text-align: center;
  }

  .left-content {
    text-align: left;
  }

  .right-content {
    text-align: right;
  }

  .center-content {
    flex: 2;
    text-align: center;

    .logo {
      object-fit: contain;
      width: 100px;
      height: 100px;
    }
  }
}
