.header-nav {
  background-color: #333;
  padding: 1rem;

  ul {
    list-style: none;
    display: flex;
    
    place-content: center	;
    
    margin: 0;
    padding: 0;
    
    gap: 1rem;

    
    li{
      // width: 100%;
    }
  }

  a {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;

    &:hover,
    &.active {
      background-color: #555;
    }
  }
}
