@layer components.list-selection {

  :host {
    display: block;
  }

  .list-row-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 0;
    padding: 0.25rem;

    cursor: pointer;

    input[type='checkbox'] {
      width: 0.75rem;
      height: 0.75rem;
      margin: 0;

      cursor: pointer;
      accent-color: var(--color-primary);
    }
  }

  @media (max-width: 620px) {
    .list-row-checkbox {
      min-width: 44px;
      min-height: 44px;
    }
  }
}
