

.header-nav {
  ul {
    display: flex;
    place-content: center;

    gap: 1.5rem;
    list-style: none;
    padding: 1rem;
    background-color: var(--color-text-main);

    li a {
      color: var(--color-text-muted-light);
      text-decoration: none;
      font-weight: 500;
      transition: color 0.2s ease;

      &.active {
        color: var(--bg-pure);
        border-bottom: 0.125rem solid var(--color-success);
      }

      &:hover {
        color: var(--bg-muted);
      }
    }
  }
}
