@if (isOpen_()) {
<div class="modal-overlay" (click)="resetAndClose()">
  <div class="modal-card" dir="rtl" (click)="$event.stopPropagation()" (clickOutside)="resetAndClose()">
    <h3>הגדרת יחידת המרה חדשה</h3>

    <div class="formula-grid">
      <div class="input-stack">
        <label>שם היחידה</label>
        <input type="text" 
               [ngModel]="newUnitName_()" 
               (ngModelChange)="newUnitName_.set($event)" 
               placeholder="למשל: דלי">
      </div>

  <div class="input-stack amounte">
  <label>כמות</label>
  <div class="flex gap-2 items-center">
    <span class="math-operator"> = </span>
        <input SelectOnFocus 
        type="number" 
        [ngModel]="newUnitValue_()" 
        (ngModelChange)="newUnitValue_.set($event)"
        class="">
      </div>
    </div>

      <div class="input-stack">
        <label>יחידת מידה להשוואה</label>
        <app-custom-select
          [ngModel]="basisUnit_()"
          (ngModelChange)="basisUnit_.set($event)"
          [options]="basisUnitOptions_()"
          placeholder="choose_unit" />
      </div>
    </div>

    @if (netUnitCost() > 0) {
    <div class="cost-preview">
      <span class="label">עלות נטו מחושבת:</span>
      <span class="value">₪{{ (netUnitCost() * newUnitValue_()) | number:'1.2-2' }}</span>
    </div>
    }

    <div class="modal-actions">
      <button class="btn-ghost" (click)="resetAndClose()">ביטול</button>
      <button class="btn-save" 
              (click)="save()" 
              [disabled]="!newUnitName_() || newUnitValue_() <= 0">
        אשר ושמור יחידה
      </button>
    </div>
  </div>
</div>
}