<app-taxonomy-kind-manager
  [items]="categories()"
  titleKey="metadata_section_categories_title"
  icon="book-open"
  descKey="metadata_section_categories_desc"
  placeholderKey="metadata_section_placeholder"
  addLabelKey="metadata_add"
  emptyKey="metadata_no_section_categories"
  [lockReason]="lockReason"
  [inlineRename]="true"
  (added)="onAdd($event.value, $event.input)"
  (editRequested)="requireSignIn()"
  (renamed)="onRenameBlur($event.item, $event.value)"
  (removeRequested)="onRemove($event)"
/>
