.confirm-modal-header {
  margin-block-end: 0.5rem;

  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  color: var(--color-danger);
}

.confirm-modal-message {
  margin-block-end: 1.25rem;

  font-size: 0.9375rem;
  color: var(--color-text-secondary);
  text-align: center;
}

.c-modal-card--danger .confirm-modal-message {
  color: var(--color-text-main);
}

.c-modal-card--warning .confirm-modal-message {
  color: var(--text-warning);
}
