:host {
  display: inline-block;
}

.scaling-chip {
  position: relative;
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.3125rem;

  padding-inline: 0.6rem;
  padding-block: 0.4rem;

  background: var(--bg-glass);
  color: var(--color-text-main);

  border: 2px solid var(--border-default);
  border-radius: var(--radius-full);

  overflow: visible;
  transition: border-color 0.2s ease, background 0.2s ease;

  cursor: default;

  &.scaling-chip--primary {
    background: var(--color-primary-soft);
    // border: 10px solid black;
  }

  &.scaling-chip--secondary {
    background: var(--bg-glass);
  }

  &.scaling-chip--has-remove {
    padding-inline-end: 0.25rem;
  }
}

.scaling-chip-remove {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 1.25rem;
  height: 1.25rem;
  padding: 0;

  background: var(--bg-danger-subtle);
  color: var(--color-danger);

  border: none;
  border-radius: var(--radius-full);

  cursor: pointer;

  &:hover {
    filter: brightness(0.95);
  }
}