@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Heebo', sans-serif;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Heebo', sans-serif;
}

// button{
//   cursor: pointer;
// }
